.categories-menu {
    list-style-type: none;
}

.categories-menu li {
    display: inline;
}

.categories-menu li {
    display: inline;
    margin: 2px;
}

.categories-menu li a img {
    width: 140px;
    height: 110px;
    border-radius: 50%;
}