.logo {
    margin-top: -5px;
    width: 280px;
    height: 60px;
}

.main {
    background-image: url('../../img/woodbg.jpeg');   
}

.main-configurator {
    padding-top: 110px;
    padding-bottom: 100px;
    background-image: url('../img/dark-triangles.png');
}

.main .container h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    text-shadow: 0px -1px 1px #FFF;
}

.back-config {
    color: #000;
    margin-top: -100px;
}

#KeyShotVR {
    box-shadow: 0px 3px 10px rgba(73, 72, 73, 0.712);
}

ul.select_model {
    padding-left: 15px;
}

ul.select_model li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
}

ul.select_model li img {
    width: 140px;
    height: 120px;
    border-radius: 75px;
}

.config-panel {
    width: 600px;
    height: 720px;
    background: rgba(255, 255, 255, 0.5);
    float: right;
    margin-top: -730px;
}

.config-panel ul {
    list-style-type: none;
    padding-top: 25px;
    margin-left: -10px;
}

.config-panel ul li label {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 3px;
}

.config-panel ul li input {
    width: 540px;;
}

.config-panel ul li select {
    width: 540px;;
}

.datos-personales {
    background-image: url('../img/bodybg/bg2.png');
    margin-top: 100px;
    padding: 25px;
}

.datos-personales h3 {
    font-family: 'Ubuntu', sans-serif;
}

.datos-personales ul {
    list-style-type: none;
    margin-left: -50px;
    margin-top: -15px;
}

.datos-personales ul li {
    display: inline-block;
    margin-left: 10px;
}

.datos-personales ul li input {
    width: 240px;
}

.btn-guardar-modelo {
    margin-top: 10px;
}